@model IEnumerable<CanIEatIt.Models.Mushroom>

@{
    ViewData["Title"] = "Database";
}

<h1>Mushroom Database</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdibleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GillDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SporeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MicroscopicDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapDiameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdibleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GillDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SporeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MicroscopicDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
